#         **Fundamentals of python**

In [1]:
print("Hello world")

Hello world

In [46]:
print("Hisham is my name.")
print("My age is 13.")

Hisham is my name.
My age is 13.

In [2]:
print("Hisham name.","My age is 13.")

Hisham name. My age is 13.

In [45]:
print(25)
print(45)

25
45

In [44]:
print(12)
print(22+22)

12
44

In [43]:
print(32)
print(43-42)

32
1

In [42]:
print(64)
print(23/87)

64
0.26436781609195403

In [41]:
print(32)
print(34*86)

32
2924

#Variables:

A variable is a name given to a memory location in a program.

name = "Musa khan"

age = 17

price = 1.123

In [39]:
name = "musa khan"
age = 17
price = 1.123

print(name)

musa khan

In [40]:
name = "musa khan"
age = 17
price = 1.123

print(age)

17

In [38]:
name = "musa khan"
age = 17
price = 1.123

print(price)

1.123

In [37]:
name = "musa khan"
age = 17
price = 1.123

print("my name is :",name)
print("my age is:",age)
print("my price is:",price)

my name is : musa khan
my age is: 17
my price is: 1.123

In [36]:
name = "musa khan"
age = 17
price = 1.123
age2 = age

print(age2)

17

#Rules for Identifiers:

Identifiers can be combination of uppercase and lowercase letters, digits or an underscre(-).
 So my Variable,variable_1,variable_for_print all are valid python identifiers.

 An identifier can not start with digit. So while variable1 is vallid,
 1variable is not vallid.

 We can't use special symbles like !,#,@,$,% etc in our identifier.

 Identifier can be of any length.

In [35]:
name = "musa khan"
age = 17
price = 1.123

print(type(name))
print(type(age))
print(type(price))

<class 'str'>
<class 'int'>
<class 'float'>

# Data Type

 Integers    #  +ve,-ve,0

 String      #  "santence" or "name"

 Float       #  decimal no or 13.43 , 1.3

 boolean     #  True or False

 None        #  a = None

# String:

In [34]:
name1 = 'Hello'
name2 = "Hello"
name3 = '''Hello'''

print(name1)
print(name2)
print(name3)

Hello
Hello
Hello

In [33]:
name1 = 'Hello',"Hello",'''Hello'''

print(name1)

('Hello', 'Hello', 'Hello')

# Booleane:

In [ ]:
num = 22
print(bool(num))

num = 0
print(bool(num))

# None:

In [32]:
age = 23
old = False
a = None

print(type(old))
print(type(a))

<class 'bool'>
<class 'NoneType'>

In [31]:
age = 23
old = True
a = None

print(type(old))
print(type(a))

<class 'bool'>
<class 'NoneType'>

# Print sum:

In [30]:
s = 23
f = 34
sum = s+f
print(sum)

57

#Print diff:

In [29]:
s = 23
f = 34
diff = s-f
print(diff)

-11

#Comments in python

Single line comments

"""Multi Line comments """

In [28]:
print("hello world")
#print("hello world")
"""print("hello world")"""

hello world

'print("hello world")'

#Types of Operators

. An operators is a symbol that performs a certain operation between operands.

. Arthmetic Operators(+,-,*,/,%,**)

. Relationl / Comparion Operators(==,!=,>,<,>=,>=)

. Assignment Operators(=,+=,-=,/=,%=,**=)

. Logical Operators (not,and,or)

#Arithmetic operaters

In [27]:
a = 32
b = 42

sum = a + b
print(sum)

74

In [26]:
a = 32
b = 42

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)

74
-10
1344
0.7619047619047619
32

#Relational Operators

In [25]:
a = 34
b = 20

print(a == b)
print(a != b)
print(a >= b )
print(a > b)
print(a <= b)
print(a < b)

False
True
True
True
False
False

#Assignment Operatores

In [24]:
num = 12
num +=12

print("num :", num)

num : 24

In [23]:
num = 12
num +=12

print("num :", num)

num : 24

In [22]:
num = 12
num -=12

print("num :", num)

num : 0

In [21]:
num = 12
num *=12

print("num :", num)

num : 144

In [20]:
num = 12
num /=12

print("num :", num)

num : 1.0

In [19]:
num = 12
num %=12

print("num :", num)

num : 0

#Logical Operators

In [18]:
a = 52
b = 12

print(not False)
print(not(a > b))

True
False

In [17]:
val1 = False
val2 = False

print("AND operator", val1 and val2)
print("OR operator", val1 or val2)
print("OR operator", (a == b) or (a > b))

AND operator False
OR operator False
OR operator False

#Type conversion

a,b = 1,2.0

sum = a+b

error

a,b = 1,"2"

sum = a+b

In [16]:
a = 23.00
b = 34.57

sum = a + b
print(sum)

57.57

In [15]:
a = "23"
b = 34.57

print(type(a))

<class 'str'>

#Type casting

In [14]:
a = int("8")
b = 23.42

print(type(a))
print(a + b)

<class 'int'>
31.42

In [12]:
a = float("82")
b = 32.08

print(type(a))
print(a - b)

<class 'float'>
49.92

In [13]:
a = 23.87
b = str(43)

print(type(a))

<class 'float'>

#Input in python
  input() statement is used to accept values (using keyboard) from user

input() #result for input() is always a str

int(input()) #int

float (input()) #float

In [5]:
input("enter your name:")

#name = input("enter your age:")
#print("you entered",name)

enter your name:musa khan

'musa khan'

In [7]:
val = input("enter some value: ")
#print(type(val),val) # "24" , "34.34"

enter some value: 34

In [9]:
int("5")
#val = float(input("enter some value: "))
#print(type(val), val)

5

In [11]:
name = input("enter name: ")
#age = input("enter age: ")
#marks = input("anter marks: ")

#print("welcom", name)
#print("age =", age)
#print("marks =", marks)

enter name: musa khan

#Let's Practice