# **Dictionary (Data Structure)**

Dictionay is built-in-data type which stores data in key:values pairs. It is mutable,orderless like "list" but don't allow duplicate keys.

In [48]:
dic={
    "ali": 20,
    "mustafa": 30,
    "majid": 11,
    "hassan":11.2,
    "husain": "ali raza",
    "friends":["jan","khan","zan","sherkhan"],
    "goodfriends": ("sk","al","dd","ee")
}
print(dic)
print(type(dic))
print(len(dic))   # length of dictionary.
print(dic["friends"]) # in dictionary we only access to keys like index in strings.

{'ali': 20, 'mustafa': 30, 'majid': 11, 'hassan': 11.2, 'husain': 'ali raza', 'friends': ['jan', 'khan', 'zan', 'sherkhan'], 'goodfriends': ('sk', 'al', 'dd', 'ee')}
<class 'dict'>
7
['jan', 'khan', 'zan', 'sherkhan']

In [50]:
dic["goodfriends"]="best friends" # same like assigning of an element by replacing specific element.

dic["student of class"]="hamza hassan"  # same like append method (adding of an element)
print(dic)

{'ali': 20, 'mustafa': 30, 'majid': 11, 'hassan': 11.2, 'husain': 'ali raza', 'friends': ['jan', 'khan', 'zan', 'sherkhan'], 'goodfriends': 'best friends', 'student of class': 'hamza hassan'}

#How to add new keys in null dictionary.

In [52]:
dict1={}
dict1["class fellow"] = "Ali","Ahmad","Mustafa",
dict1["relatives name"] = "Zakir","Amir",
print(dict1)

{'class fellow': ('Ali', 'Ahmad', 'Mustafa'), 'relatives name': ('Zakir', 'Amir')}

#Nesting Concept:

Making a data type inside the data type.

In [55]:
a = {
    "name":"Musa khan",
    "subjects":{                            # nesting of one variable
        "Maths": 22,
        "che": 33,
        "phy": 44,
        "Hobbies":{                        # nesting of second variable
            "football": "3 hours daily",
            "cricket":" 4 hours daily",
        }
    }
}
print(a)
print(len(a))  # len of dictionary which is 2, it means it returns only keys len

{'name': 'Musa khan', 'subjects': {'Maths': 22, 'che': 33, 'phy': 44, 'Hobbies': {'football': '3 hours daily', 'cricket': ' 4 hours daily'}}}
2

#Dictionary Methods ;

.keys() Method

It returns all the keys values.

In [57]:
a = {
    "name":"Musa khan",
    "subjects":{                            # nesting of one variable
        "Maths": 22,
        "che": 33,
        "phy": 44,
        "Hobbies":{                        # nesting of second variable
            "football": "3 hours daily",
            "cricket":" 4 hours daily",
        }
    }
}
print(a.keys())

dict_keys(['name', 'subjects'])

#.values() Method
It returns all values

In [86]:
a = {
    "name":"Musa khan",
    "subjects":{                            # nesting of one variable
        "Maths": 22,
        "che": 33,
        "phy": 44,
        "Hobbies":{                        # nesting of second variable
            "football": "3 hours daily",
            "cricket":" 4 hours daily"
        }
    }
}
print(a.values())

dict_values(['Musa khan', {'Maths': 22, 'che': 33, 'phy': 44, 'Hobbies': {'football': '3 hours daily', 'cricket': ' 4 hours daily'}}])

#.items() Method
Returns all keys,values pairs as tuples.

In [74]:
a = {
    "name":"Muhammad Hamza",
    "subjects":{                            # nesting of one variable
        "bio": 22,
        "che": 33,
        "phy": 44,
        "Hobbies":{                        # nesting of second variable
            "football": "3 hours daily",
            "cricket":" 4 hours daily",
        }
    }
}

print(a.items())

dict_items([('name', 'Muhammad Hamza'), ('subjects', {'bio': 22, 'che': 33, 'phy': 44, 'Hobbies': {'football': '3 hours daily', 'cricket': ' 4 hours daily'}})])

#.get() Method

In [75]:
a = {
    "name":"Muhammad Hamza",
    "subjects":{                            # nesting of one variable
        "bio": 22,
        "che": 33,
        "phy": 44,
        "Hobbies":{                        # nesting of second variable
            "football": "3 hours daily",
            "cricket":" 4 hours daily",
        }
    }
}
print(a["name"]) # it returns the error when we have no element.
print(a.get("name"))
print(a.get("subjects")) # Here we follow method rule because due to unavailability of element it returns the "None",while above returns error.

Muhammad Hamza
Muhammad Hamza
{'bio': 22, 'che': 33, 'phy': 44, 'Hobbies': {'football': '3 hours daily', 'cricket': ' 4 hours daily'}}

#.update() Method
Insert the specified items to the dictionry

In [76]:
a = {
    "name":"Muhammad Hamza",
    "subjects":{                            # nesting of one variable
        "bio": 22,
        "che": 33,
        "phy": 44,
        "Hobbies":{                        # nesting of second variable
            "football": "3 hours daily",
            "cricket":" 4 hours daily",
        }
    }
}

a.update({"city":"peshawar"})
print(a)

{'name': 'Muhammad Hamza', 'subjects': {'bio': 22, 'che': 33, 'phy': 44, 'Hobbies': {'football': '3 hours daily', 'cricket': ' 4 hours daily'}}, 'city': 'peshawar'}

In [77]:
b={"ali" : "marks2222",
   "shah":"marks1111"}
a.update(b)
print(a)

{'name': 'Muhammad Hamza', 'subjects': {'bio': 22, 'che': 33, 'phy': 44, 'Hobbies': {'football': '3 hours daily', 'cricket': ' 4 hours daily'}}, 'city': 'peshawar', 'ali': 'marks2222', 'shah': 'marks1111'}