# **List (Data Structure)**

(1)It is a built-in-data type in which we store set of values. It is mutable and orderless.

(2)It can be stored of various data type i-e; string,integer,float,etc.

In [27]:
a = [11,22,33,44,55,66,77]
print(a)
print(type(a))
print(len(a)) # length of list
print(a[0])  # index in list

[11, 22, 33, 44, 55, 66, 77]
<class 'list'>
7
11

#List is mutable data type:

It means we can change the element in list at specicic index.

In [28]:
list = ["Ali",88,"Peshawar"]
list[1]="Usman"
print(list) # change data in list at specific index, which is mutable.

['Ali', 'Usman', 'Peshawar']

#Negative Slicing

In [29]:
b = [222,333,444,555,666,777]
print(b[-4:-1])
print(b[-6:-1])

[444, 555, 666]
[222, 333, 444, 555, 666]

#.append() method :

Add elements at the end of list.

In [30]:
c = ["Ali","Usman","Huzaifa","Mohsin","Mubarak"]
c.append("Musa khan")
print(c)

['Ali', 'Usman', 'Huzaifa', 'Mohsin', 'Mubarak', 'Musa khan']

# Similarly

In [31]:
c1 = [55,66,33,22,77,11]
c1.append(99)
print(c1)

[55, 66, 33, 22, 77, 11, 99]

#.sort() method :

Arrange elements in ascending order in a list.

In [32]:
d = ["Ali","Usman","Huzaifa","Mohsin","Mubarak"]
d.sort()
print(d)

['Ali', 'Huzaifa', 'Mohsin', 'Mubarak', 'Usman']

# Similarly

In [33]:
d1 = [55,66,33,22,77,11]
d1.sort()
print(d1)

[11, 22, 33, 55, 66, 77]

#Reverse sort Method :

Arrange the elements in descending order in a list.

In [34]:
d2 = [55,66,33,22,77,11]
d2.sort(reverse=True)
print(d2)

[77, 66, 55, 33, 22, 11]

#.insert() Method :

This method is closely related to append method but here we add element at particular index while in append we just add the element at the end of list.

In [35]:
e = ["Apple","Banana","Vegetable","Potato"]
e.insert(2,"Peach")
print(e)
e1 = [11,22,33,44]
e1.insert(1,999)
print(e1)

['Apple', 'Banana', 'Peach', 'Vegetable', 'Potato']
[11, 999, 22, 33, 44]

#.remove() Method :

This method is used for removing any element from the list without mentioning particular index.

In [36]:
f = ["Apple","Banana","Vegetable","Potato"]
f.remove("Vegetable")
print(f)

['Apple', 'Banana', 'Potato']

# Similarly

In [37]:
f1 = [111,222,333,444,555,666]
f1.remove(333)
print(f1)

[111, 222, 444, 555, 666]

#.pop Method :

This method use for remove any element from the list at particular index.

In [38]:
g = ["Apple","Banana","Vegetable","Potato"]
g.pop(2)
print(g)

['Apple', 'Banana', 'Potato']

# Similarly

In [39]:
g1 = [111,222,333,444,555,666]
g1.pop(2)
print(g1)

[111, 222, 444, 555, 666]