#**Operaters and Type Conversion**

#Arthematic Operators(+,-,*,/,%,**)

In [1]:
hassan = 6
musa = 6
print(hassan + musa) # + operater
print(hassan - musa) # - operater
print(hassan * musa) # * operater
print(hassan % musa) # % operater
print(hassan ** musa) # ** operater
print(hassan / musa) # / operater

12
0
36
0
46656
1.0

difference b/w Division "/"and Floor Division"//"

"""Single divide returns the float type value while double // returns the integer value."""

In [2]:
x = 10
y = 10
print(x/y)  # float type output

1.0

#Floor Division Operater

In [3]:
x = 20
y = 20
print(x//y)  # Floor Division (integer type output)

1

#Relation / Comparison Operater (==,!=,>=,<=,)

#It always returns the boolean type value.

In [4]:
s = 40
r = 20
t = (s == r)
t1 = (s!= r)
t2 = (s >= r)
t3 = (s <= r)
t4 = (s < r)
t5 = (s > r)
print(t)
print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

False
True
True
False
False
True

#Assignme ent Operators (=,+=,*=,-=,/=,%=,**=)

In [5]:
a = 30
a = 20
print(a)

20

In [11]:
a = 30
a += 20
print(a)

50

In [6]:
a = 30
a -= 20
print(a)

10

In [7]:
a = 30
a *= 20
print(a)

600

In [8]:
a = 30
a %= 20
print(a)

10

In [9]:
a = 30
a **= 20
print(a)

348678440100000000000000000000

In [10]:
a = 30
a /= 20
print(a)

1.5

#Membership operators;

In [12]:
xy = ["shakir",222,"ali","musa",3333,"shakoor"]
sam = ( 222 in xy)
print(sam)

True

In [13]:
xy = ["shakir",2222,"ali","musa",3333,"shakoor"]
sam = (22 not in xy)
print(sam)

True

Logical Operators (not,and,or)
not operator :

"not" operator returns the opposite value of the given value.

It works based on single value

In [14]:
k = not True
l = not False
print(k)
print(l)

False
True

# Similarly

In [15]:
ab = 88
ac = 33
bc = (not (ab>ac))
print(bc)
print(type(bc))

False
<class 'bool'>

And operator :

It works based on two values.

Type Conversion :

When a one data type is coverted into another data type , this is known as Type Conversion.

Two types of conversion:

#1 : Type Conversion;

In [16]:
g = 9
h = 6.3
sum = (g + h)
print(sum)     # here python automatically convert the integer value into float value.
print(type(sum))

15.3
<class 'float'>

 Note: it is not possible for python to convert the string into into float, so for this we use type Casting.

#2 : Type Casting

In [17]:
z = int("3")
p = 6.3
sum = (z + p)
print(sum)

9.3

An examples of type casting.

In [18]:
ali = 99
ali = str(ali)
print(type(ali))

<class 'str'>