# **Tupple (Data Structure)**

(1)Tupple is a built-in-data type in which we create immutable sequence values put in parenthesis.

(2)It is immutable just like "string" which is also immutable.

In [40]:
a = (33,44,55,66,77,88)
print(a)
print(type(a))
print(len(a))  # Length function
print(a[2])    # Index function
print(a[1:5])  # Slicing function

(33, 44, 55, 66, 77, 88)
<class 'tuple'>
6
55
(44, 55, 66, 77)

 while putting single value in tupple must put comma at the end, otherwise python will consider it other data type.

In [41]:
a1 = ("hello",)
a2 = (2,)
print(a1)
print(a2)
print(type(a1))
print(type(a2))

('hello',)
(2,)
<class 'tuple'>
<class 'tuple'>

#Tupple Methods
#.index Method :

In [42]:
b = ( 333,222,111,444,555)
b.index(111)
print(b.index(111))

2

#.count Method :

In [43]:
c = ( 333,111,222,111,444,555,111)
c.count(111)
print(c.count(111))

3

In [46]:
a = input("Enter your first favourite cars name:")
b = input("Enter your second favourite cars name:")
c = input("Enter your third favourite cars name:")
cars = []
cars.append(a)
cars.append(b)
cars.append(c)
print("your favourite cars name:",cars)

Enter your first favourite cars name:bugatti chiron
Enter your second favourite cars name:rolls royce
Enter your third favourite cars name:lamborghini avent ador
your favourite cars name: ['bugatti chiron', 'rolls royce', 'lamborghini avent ador']

#  similarly other way to write code:

In [47]:
super_hit_movies = []
super_hit_movies.append(input("enter your first movie:"))
super_hit_movies.append(input("enter your second movie:"))
super_hit_movies.append(input("enter your third movie:"))
print("your best movies name:",super_hit_movies)

enter your first movie:the lion king
enter your second movie:titanig
enter your third movie:avatar
your best movies name: ['the lion king', 'titanig', 'avatar']