#**Function:**

#function definition

Block of statements that perform a specific task.It is used to reduce the redundantancy (repeatition in same code).

In [87]:
def mult(a,b): #parameters
    mult= (a*b)
    print(mult)
    return mult

mult(2,2)  #function call : arguments
mult(2,3)
mult(3,3)
mult(3,6)

def averageformula(a,b,c):
    sum = a+b+c
    average=sum/3
    print(average)

averageformula(1,2,3)

4
6
9
18
2.0

#**Set:**

It is a collection of unordered(without index) items.

Each element in the set must be unique and immutable like tupple.

In set data type "set"cansider duplicte elements as a single element.

In [88]:
a={1,2,3,4,5}  #duplicate keys present but it returns only single key.
print(a)
print(type(a))
print(len(a))

{1, 2, 3, 4, 5}
<class 'set'>
5

#empty set:

How to print an empty set.

In [89]:
b = set()   #syntax of an empty set.
print(type(b))

<class 'set'>

#Set Methods
#.Add() Method

It adds an elements in set.

In [90]:
b = set()    #An empty set.
b.add(1)
b.add(2)
b.add(("a","b","c"))  #Adding of tupple.
print(b)

{('a', 'b', 'c'), 1, 2}

#.Remove Method

It removes elements from the set.

In [91]:
c = {2,3,4,5,6}
c.remove(3)
print(c)

{2, 4, 5, 6}

#.Clear Method

It clear all the elements inside the set.

In [92]:
d = {"hassan","musa","hamza"}
d.clear()
print(d)    # clean the set.

set()

#.Union Method

It cmbines both set values and returns new values.

In [93]:
f = {1,2,3}
g = {3,4,5,6}
print(f.union(g))  #It is returns the both set values.

{1, 2, 3, 4, 5, 6}

#.Intersection Method

It combines common values and returns new values.

In [94]:
h = {1,2,3,4,5,6}
i = {4,5,6,2,8,9,}
print(h.intersection(i))   #It returns the common elements.

{2, 4, 5, 6}