#**Input in python**

input() statement is used to accept values (using keyboard) from user

input() #result for input() is always a str

int(input()) #int

float (input()) #float

In [1]:
input("enter your name:")

enter your name:musa khan

'musa khan'

In [3]:
name = input("enter your age:")
print("you entered",name)

enter your age:17
you entered 17

In [4]:
val = input("enter some value: ")
print(type(val),val) # "24" , "34.34"

enter some value: 23
<class 'str'> 23

In [5]:
int("5")
val = float(input("enter some value: "))
print(type(val), val)

enter some value: 2344.4
<class 'float'> 2344.4

In [6]:
name = input("enter name: ")
age = input("enter age: ")
marks = input("anter marks: ")

print("welcom", name)
print("age =", age)
print("marks =", marks)

enter name: musa khan
enter age: 17
anter marks: 838
welcom musa khan
age = 17
marks = 838

#Let's Practice
(1): Write a Program to input 2 numbers & print their sum.

In [7]:
first = int(input("enter first :"))
second = int(input("enter second :"))

print("sum = ", first + second)

enter first :5323
enter second :565
sum =  5888

(2):WAP to input side of a squsre & print its area.

In [11]:
side = float(input("enter square side :"))

print("area =", side * side)

enter square side :10
area = 100.0

(3):WAP to input 2 floating point numbers & print their average.

In [12]:
a = float(input("enter first : "))
b = float(input("enter second : "))

print("avg =", (a+b)/2)

enter first : 43
enter second : 54
avg = 48.5

(4):WAP to input 2 int numbers, a and b.

Print True if a is greater than or equale to b. If not print False.

In [13]:
a = int(input("enter first : "))
b = int(input("enter second : "))

print(a >= b)

enter first : 32
enter second : 43
False

In [14]:
a = int(input("enter first : "))
b = int(input("enter second : "))

print(a <= b)

enter first : 41
enter second : 52
True